/ - Page Title -/
- content_for(:title, "Locations")

/ - Breadcrumb Nav -/
%nav.breadcrumbs
  .medium-6.columns
  %a{ href: users_path } Home
  %a.current{ href: user_path(:id) }= "Iron Yard Locations"
  
/ - Assignment -/
.row
  %h3= "#{@location.city} - #{@cohort.name} Assignments"  
  .large-12.columns
    %h5 Assignment: 
    = "#{@assignment.name}"
    %p
    %h5 Description: 
    %p= "#{@assignment.description}"
    %h5 Due date:
    = format_date(@assignment.due_date)
    %p
    %p= link_to "Edit Assignment", edit_assignment_path(@assignment.id), class: "button small secondary"
  
  /- Display Comments -/
.row
  .medium-6.columns
    -@comment_list.each do |a|
      %blockquote
        = a.content
        %cite
          = format_date_time(a.created_at)
          %p
          = a.user.id
          = a.commentable
          = User.where("id = ?", a.user_id)


  / - Add Comment Form -/
.row
  .medium-8.columns.medium-centered
    %fieldset
      %legend Add a Comment
      = form_for @comments do |a|
        = a.hidden_field :commentable_id, value: @assignment.id
        = a.hidden_field :commentable_type, value: "Assignment"
        = a.hidden_field :user_id, value: @current_user.id
        .small-12.columns
          = a.label "Your Comment:"
          = a.text_field :content
          %br
          = a.submit "Post Comment", class: "button small secondary"